<footer class="py-1 md:gap-3 sm:gap-1">
  <span class="text-white fontAll md:w-3 sm:w-1 text-center">{{ userNome}}</span>
  <p-divider layout="vertical" styleClass="flex w-1 justify-self-end text-end" [align]="'center'"
    id="dividerFooter"></p-divider>
  <span class="text-white fontAll md:w-4 text-center">{{title}} - SMED </span>
  <p-divider layout="vertical" styleClass="flex w-4 justify-self-end text-end" [align]="'center'"
    id="dividerFooter"></p-divider>
  <span class="text-white fontAll md:w-3 sm:w-1 text-center"> Versão {{version}}</span>
  <p-divider layout="vertical" styleClass="flex w-4 justify-self-end text-end" [align]="'center'"
  id="dividerFooter"></p-divider>
<span class="text-white fontAll md:w-3 sm:w-1 text-center"> 30:00</span>
</footer>
