<p-scrollPanel id="homeScrollPanel" styleClass="customBarColor">
  <p-panel id="panelSinglePage" class="h-full min-h-100 w-full px-2 my-0">
    <div class="divSpacerCadastro px-1 gap-2 flex flex-wrap">
      <p-panel [toggleable]="true" header="Filtros" styleClass="w-full py-0 px-0" [class]="'w-full mb-2'"
        id="panelSimplesToggleParaForms">
        <div class="w-full mt-0" id="formPesquisaSinglePanel">
          <form [formGroup]="formGroup" id="formPesqPaneled"
            class="flex flex-auto justify-content-start p-1 w-full flex-wrap">
            <app-input-wrapper label="CNPJ" inputNome="cnpj" [required]="true" [class]="'lg:col-2 md:col-3 sm:col-3'"
              [formControlAbstrato]="formGroup.get('cnpj')" [size]="'w-full'">
              <p-inputMask id="cnpj" formControlName="cnpj" [mask]="'99.999.999/9999-99'" [autoClear]="false"
                [unmask]="false" [slotChar]="'99.999.999/9999-99'" [style]="{'text-transform': 'uppercase'}"
                (onBlur)="formGroup.get('cnpj')?.value" inputStyleClass="fontAll w-full" [styleClass]="'fontAll w-full'"
                [ngClass]="hasError(formGroup.get('cnpj'))" class="fontAll w-full" />
            </app-input-wrapper>
            <p-divider class="w-full py-0" id="dividerFiltrosPesquisa"></p-divider>
            <div class="w-full flex flex-nowrap justify-content-end">
              <app-crud-botoes-pesquisa (methodFind)="pesquisar()" (methodResetForm)="resetForm()"
                [buttonNovoCadastroFlag]="true" />
            </div>
          </form>
        </div>
      </p-panel>
      <div class="w-full" id="pesquisaDiv">
        <app-crud-table-expansiva elementRowKeyExpand="contratos"
           [detailRequestMethod]="this.cliqueDevolver()" (detailRequestEmitter)="requestedClique($event)"
          [displayedColumnsExpandidas]="displayedColumnsExpandidas" [items]="(items | async) ?? []"
          [displayedColumns]="displayedColumns" (editClick)="openDialog($event)" (deleteClick)="delete($event)" />
      </div>
    </div>
  </p-panel>
</p-scrollPanel>
