<p-fieldset id="formPesquisaTabPanel" class="h-full px-0 py-1">
  <form [formGroup]="formGroup" id="formPesq" class="flex flex-column p-1  w-full  flex-wrap justify-content-start">
    <app-input-wrapper label="CNPJ" inputNome="cnpj" [required]="true" [class]="'lg:col-2 md:col-3 sm:col-3'"
    [formControlAbstrato]="formGroup.get('cnpj')" [size]="'w-full'">
    <p-inputMask id="cnpj" formControlName="cnpj" [mask]="'99.999.999/9999-99'" [autoClear]="false" [unmask]="false"
      [slotChar]="'99.999.999/9999-99'" [style]="{'text-transform': 'uppercase'}"
      (onBlur)="formGroup.get('cnpj')?.value.toUpperCase()" inputStyleClass="fontAll w-full"
      [styleClass]="'fontAll w-full'" [ngClass]="hasError(formGroup.get('cnpj'))" class="fontAll w-full" />
  </app-input-wrapper>
    <app-crud-botoes-pesquisa (methodFind)="pesquisar()" (methodResetForm)="resetForm()" />
  </form>
  <div class="w-full" id="pesquisaDiv">
    <app-crud-table  [items]="items" [displayedColumns]="displayedColumns"
     [editMethod]="edit"
      [deleteMethod]="delete"
      ></app-crud-table>
   <!--  <p-table [value]="(items | async) ?? []" selectionMode="single" id="tablePesquisaDiv" [rows]="15"
      [scrollable]="true" [alwaysShowPaginator]="false" [paginator]="true" paginatorPosition="top" dataKey="id"
      [scrollHeight]="'calc(100vh - 285px)'" [(selection)]="resultadoSelecionado"
      styleClass="p-datatable-sm p-datatable-gridlines mt-2">
      <ng-template pTemplate="caption">Resultados</ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="12" class="text-center">Não há registros encontrados</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          @for(column of displayedColumns; track column){
          <th scope="col" class="w-1 text-center">{{column}}</th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element id="templateTableBody">
        <tr [pSelectableRow]="element">
          <td class="w-1">{{element.nomeFantasia }}</td>
          <td class="w-1 text-center">{{ element.razaoSocial }}</td>
          <td class="w-1 text-center">{{ element.cnpj }}</td>
          <td class="w-1 text-center">{{ element.telefone }}</td>
          <td class="w-1 text-center">{{ element.email }}</td>
          <td class="text-center w-1" (click)="edit('cliente',element.id)">
            <mat-icon fontIcon="edit_square">Editar</mat-icon>
          </td>
          <td class="text-center w-1">
            <button pButton size="small" id="buttonExclusaoTable" [text]="true" severity="danger"
              (click)="delete(element.id);">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table> -->
  </div>
</p-fieldset>
