<main class="w-full" style="height: 100vh; width: 100vw; overflow: hidden;">
  <p-splitter [style]="{ height: '100vh', width: '100vw' }" [panelSizes]="[0, 100]" [minSizes]="[0, 100]"
    styleClass="mb-5" [gutterSize]="'0px'">
    <ng-template pTemplate>
      <p-splitter layout="vertical" [panelSizes]="[10, 90]" [minSizes]="[10, 90]">
        <ng-template pTemplate>
          <div style="flex-grow: 1;" class="flex align-items-center w-full bg-primary-900 my-0 border-0 shadow-2"
            id="headerLogin">
            <div class=" w-min pl-5 my-0">
              <img src="../../assets/logoColored.png" alt="Logo" height="60" class="" />
            </div>
            <div class="text-900 text-5xl  fontAll text-white font600 w-11 text-center my-0">
              {{this.origemInfo.nome ? this.origemInfo.nome : 'SMPEP' | uppercase}}
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate>
          <p-splitter [panelSizes]="this.littleScreen.panelSizer  ??  [35, 65]"
            [minSizes]="this.littleScreen.minPanelSize  ?? [35, 65 ]" fluid>
            <ng-template pTemplate>
              <div [ngClass]="littleScreen.flag ? 'justify-content-center' : 'justify-content-start'"
                class="col flex align-items-start  flex-column surface-50 w-full {{this.littleScreen.class}}"
                [ngStyle]="littleScreen.flag ? {'padding': '3rem 4.5rem'} : {'padding': '6rem'}">
                <div class=" mb-5 mt-2">
                  <div class="text-900 text-3xl  mb-3 fontAll text-primary-400 font600 flex flex-column">
                    SMPEP
                    @if(this.origemInfo.apelido){- {{this.origemInfo.apelido | uppercase}}}
                    <span class="text-2xl text-500 fontAll font600">Módulo Admnistrativo</span>
                    <span class="text-500 text-sm fontAll font400">Bem-vindo, use o formulário para acessar o
                      sistema.</span>
                  </div>
                </div>
                <p-tabView [(activeIndex)]="activeTabIndex" styleClass="w-full px-0 surface-50"
                  class="w-full px-0 surface-50">
                  <p-tabPanel header="Login" class="surface-50" pStyleClass="h-full min-h-100 px-0 w-full surface-50"
                    [selected]="activeTabIndex === 0">
                    @if(activeTabIndex === 0){
                    <div class="w-full">
                      <app-login-form [origemId]="(this.origemInfo.id !== -1) ? this.origemInfo.id : null" />
                    </div>
                    }
                  </p-tabPanel>
                  <p-tabPanel header="Trocar senha" class="surface-50"
                    pStyleClass="h-full min-h-100 px-0 w-full surface-50" [selected]="activeTabIndex === 1">
                    @if(activeTabIndex === 1){
                    <div class="w-full">
                      <app-trocar-senha-form />
                    </div>
                    }
                  </p-tabPanel>
                </p-tabView>
              </div>
            </ng-template>
            <ng-template pTemplate>
              <div class="col flex align-items-center justify-content-center">
                <p-image [src]="this.origemInfo.imagemUrl ? this.origemInfo.imagemUrl : '../../assets/logoColored.png'"
                  [alt]="this.origemInfo.nome ? this.origemInfo.nome : 'SMPEP'"
                  [width]="littleScreen.flag ? '150' : '250'" />
              </div>
            </ng-template>
          </p-splitter>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</main>
