<div class="grid-container">
  <app-prime-header (sidebarToggle)="toggleSidebar()" (sideBarIconToggle)="toggleSideIconBar()"
    [textHeaderPrimary]="'ED'" (logUserOut)="deslogar($event)"></app-prime-header>
  <main>
    <aside [ngClass]="{ collapsed: !sidebarVisible,'px-1 mx-1': sideBarIconFlag, 'w200px': !sideBarIconFlag }"
      class="shadow-2">
      <app-prime-sidebar [items]="menus" [sideBarIconOnly]="sideBarIconFlag" />
    </aside>
    <div class="content" id="content">
      <app-dialog-confirmacao></app-dialog-confirmacao>
      <router-outlet />
    </div>
  </main>
  <app-prime-footer [userNome]="'Pedro'" [title]="'PILOTO'" [version]="'Alpha.0000'"
    class="footerComponent"></app-prime-footer>
</div>
