::ng-deep .grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
  grid-template-areas: 'headerTop' 'main' 'footerBottom';

}

::ng-deep #notificacaoToast .p-toast .p-toast-message {
  border-width: 1px 4px 1px 4px;
}

::ng-deep #panelSimplesToggleParaForms {
  .p-panel .p-panel-header {
    background: var(--primary-400);
    border-color: #e5e7eb;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    padding: 0.25rem 1rem;
  }

  .p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
    color: rgba(255, 255, 255, 1);
  }

  .p-panel .p-panel-header .p-panel-header-icon {
    color: rgba(255, 255, 255, 1);
  }
}

::ng-deep #panelSimplesToggleParaFormsSemToggle {
  .p-panel .p-panel-header {
    background: var(--primary-400);
    border-color: #e5e7eb;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    padding: 0.75rem 1rem;
  }

  .p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
    color: rgba(255, 255, 255, 1);
  }

  .p-panel .p-panel-header .p-panel-header-icon {
    color: rgba(255, 255, 255, 1);
  }
}

::ng-deep main {
  display: grid;
  grid-area: main;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sideBar content" "sideBar content";
  flex-grow: 1;
  padding: 0.15em;
  background-color: var(--surface-ground);
  border: 1px solid var(--surface-border);
}

::ng-deep header {
  grid-area: headerTop;
  width: 100%;
  z-index: 1000;
  top: 0;
}

::ng-deep #btnLogout {
  padding: 0.2em !important;
}

::ng-deep #btnLogout span {
  font-size: 0.9em !important;
}



::ng-deep .p-dialog .p-dialog-content {
  padding: 0 1.5rem 1rem 1.5rem !important;
}

::ng-deep #buttonMenuCollapse i {
  font-size: 1.25em !important;
}

::ng-deep .p-datatable-tbody>*,
::ng-deep .p-datatable-thead>* {
  font-family: 'Roboto Condensed', sans-serif;
}

::ng-deep label.ng-dirty.ng-invalid,
::ng-deep span.ng-dirty.ng-invalid {
  color: #e24c4c;
}

::ng-deep label,
::ng-deep input,
::ng-deep .p-dialog-title,
::ng-deep th,
::ng-deep td,
::ng-deep .p-treetable-thead,
::ng-deep .p-placeholder,
::ng-deep .p-dropdown-item,
::ng-deep .p-fieldset-legend-text,
::ng-deep .p-tabview-title {
  font-family: 'Roboto Condensed', sans-serif;
}

::ng-deep .p-inputtext,
::ng-deep .p-treeselect .p-treeselect-label {
  padding: 0.5rem 0.75rem;
}

::ng-deep .p-button.p-button-icon-only {
  padding: 0.5rem 0;
}

::ng-deep label {
  font-weight: 550 !important;
}

::ng-deep .fa,
::ng-deep .fa-brands,
::ng-deep .fa-classic,
::ng-deep .fa-regular,
::ng-deep .fa-sharp-solid,
::ng-deep .fa-solid,
::ng-deep .fab,
::ng-deep .far,
::ng-deep .fas {
  line-height: 1.25;
  font-size: 1rem;
}

::ng-deep #logoMenuHeader {
  cursor: pointer !important;
}

::ng-deep .p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-list) {
  padding: 0 0 0 0.5rem;
}

::ng-deep #content {
  grid-area: content;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--surface-border);
  overflow: auto;
/*   height: calc(100vh - 5.25rem); */
}

::ng-deep .layout {
  display: flex;
  height: 100%;
}

::ng-deep aside {
  grid-area: sideBar;
  height: 100%;
  transition: width 0.3s;
  background-color: var(--surface-ground);
}

::ng-deep aside.collapsed {
  width: 0;
  padding: 0px !important;
  overflow: hidden;
}

::ng-deep .p-paginator .p-paginator-first,
::ng-deep .p-paginator .p-paginator-prev,
::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-last {
  min-width: 1.5rem;
  height: 1rem;
}

::ng-deep .p-button .p-button-label {
  font-family: 'Roboto Condensed', sans-serif;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month,
::ng-deep .p-datepicker .p-monthpicker .p-monthpicker-month,
::ng-deep .p-datepicker .p-yearpicker .p-yearpicker-year {
  font-family: 'Roboto Condensed', sans-serif;
}

::ng-deep .p-fieldset-content {
  overflow: visible;
}

::ng-deep #tablePesquisaDiv .p-datatable-header {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: 600;
  text-align: center !important;
  color: var(--primary-color-text);
  background: var(--primary-400);
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

::ng-deep #fieldSetAninhado .p-datatable-header {
  font-weight: 600;
  text-align: center !important;
  color: var(--primary-color-text);
  background: var(--primary-500);
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

::ng-deep .p-paginator {
  font-family: 'Roboto Condensed', sans-serif !important;
  padding: 0.2rem 1rem;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2rem;
  height: 2rem;
}

::ng-deep aside a {
  text-decoration: none !important;
}

::ng-deep aside a span {
  font-size: 1em;
}

::ng-deep footer {
  grid-area: footerBottom;
  position: fixed;
  width: 100%;
  height: min-content;
  bottom: 0;
  text-wrap: nowrap;
  background: var(--primary-900);
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 0.5rem !important;
  border-top: 1px solid var(--surface-border);

}
