
  <div class="w-full flex justify-content-end mt-2 px-2 gap-2" style="padding-right: 1rem;">
    <button pButton pRipple pRounded [raised]="true" type="submit" severity="info" size="small" label="Gravar"
    class="gap-2 p-2  px-3 " (click)="executeMethodSave()">
    <i class="fa-solid fa-floppy-disk"></i>
  </button>
    <button pButton pRipple pRounded [raised]="true" type="reset" severity="danger" size="small" label="Cancelar"
      class="gap-2 p-2  px-3 " (click)="executeMethodResetForm()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
